{% extends "blog/base.html" %}
{% block heading %}
    <title>Home Page</title>
{% endblock heading %}
{% block content %}
    <div class="container">
            <div class="d-flex justify-content-center">
            {% for post in posts %}
                <div class="ml-4 col-lg-4 col-md-6">
                    <div class="mt-5  h-100">
                        <div class="card  card_obj">
                            {% if post.file %}
                                <div class="text-center">
                                     <!-- BANNER -->
                                    <section class="banner">
                                        <div class="banner__content"></div>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1280 140"><path d="M0 51.76c36.21-2.25 77.57-3.58 126.42-3.58 320 0 320 57 640 57 271.15 0 312.58-40.91 513.58-53.4V0H0z" fill-opacity=".2"/><path d="M0 24.31c43.46-5.69 94.56-9.25 158.42-9.25 320 0 320 89.24 640 89.24 256.13 0 307.28-57.16 481.58-80V0H0z" fill-opacity=".8"/><path d="M0 0v3.4C28.2 1.6 59.4.59 94.42.59c320 0 320 84.3 640 84.3 285 0 316.17-66.85 545.58-81.49V0z"/></svg>
                                    </section>
                                </div>
                            {% endif %}
                           <div class="d-flex justify-content-center">
                                <img src="{{ post.file.url }}" class="rounded-circle  img-fluid" alt="" style="width: 150px; height: 150px; object-fit: cover;">
                            </div>
                            <h4><a class="text-dark d-flex justify-content-center" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                            <p class="card-text p-2 text-center">{{ post.content }}</p>
                            <div class="d-flex align-items-center p-2">
                                <a href="{{ post.author.profile.image.url }}" target="_blank">
                                    <img src="{{ post.author.profile.image.url }}" alt="" class="rounded-circle      img-fluid mr-3" style="width: 50px; height: 50px; object-fit: cover;">
                                </a>
                             <div>
                                    <a class="text-dark" href="{% url 'user-posts' post.author.username %}">
                                        <h5>{{ post.author }}</h5>
                                    </a>
                                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                             </div>
                            </div>

                            <div class="text-center">
                                {% if post.file %}
                                    <a class="btn btn-outline-primary btn-sm mb-3 mt-3 rounded-pill" href="{{ post.file.url }}" download><i class="fas fa-download"></i> Download</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        <div class="container mt-3 mb-3">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock content %}
